@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@400;700&display=swap');


.shortlist-header{
    height: 2rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto 1rem;
    padding: 1.5em;
    font-size: 26px;
    align-items: center;
    font-family: 'Montserrat';
    
}
.shortlist-header p{
    text-transform: capitalize;
}

.shortlist-header button{
    border-radius: 2rem;
    padding: 10px;
    border: solid 1px;
    height: 4rem;
    font-size: 18px;
    cursor: pointer;
    width: 15rem;
}

.shortlist-header p{
    font-size: larger;
}